@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}

.header {
  height:5vh;
  width: 100%;
  margin-top: 0;
  border-bottom:1px solid black;
  padding-top: 1vh;

}

#cartContainer {
  margin-top: 1vh;
  text-align: right;
  padding:15px;
  width: auto;
  display: none;
  right: 0;
  position: absolute;
  z-index: 1000;

  background-color: #F5F5F5;
  border: 1px solid #AD202D;

}

.headerCart {
  display: inline-block;
  width: 33%;

}

.headerLogo {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.headerHome {
  display: inline-block;
  width: 33%
}


.home {
  text-align: center;
  margin-left: 20px;

  float: left;
  color: black;
  height:4vh;
  width: 6%;

}


.cartImg {

  height:4vh;
  width: 6%;
  float: right;
  margin-right: 20px;
}

.logo {

  height:4vh;
  width: 7%;
}



a {
  text-decoration: none;
  color: black;
  padding-top: 2px;
}

.watchesP{
    margin: 0;
    background: url("https://ak5.picdn.net/shutterstock/videos/14386345/thumb/3.jpg") no-repeat center center fixed;
    height: 60vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 12em;
    color: #AD202D;
    padding-top: 35vh;
}


.innerDiv {
  text-align: center;
}

.adminLink, .adminLinkText {
  color: white;
  padding: 10px;
}

.footer {
  position: relative;
    bottom: 0;
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    margin-top: 25px;
    background-color: black;
}

.homeLeft {
  vertical-align: top;
  width: 50%;
  height: 100vh;
  display: inline-block;

}

.homeRight {
  width: 50%;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}

.topLeft, .bottomRight {
  height: 55vh;
  width: 100%;
  border: 1px solid black;
}

.topRight, .bottomLeft {
  height: 45vh;
  width: 100%;
  border: 1px solid black;
}

.tlImage, .brImage {
  width:100%;
  height: 55vh;
}

.trImage, .blImage {
  width:100%;
  height: 45vh;
}

.buy {
  text-align: center;
  height: 50vh;
  width: 100%;
}

.shopButton {
  margin-top: 30vh;
  font-size: 12em;
}

.shopA{

  color: #AD202D;
}

.productContainer {
  text-align: center;
  border: 3px solid #AD202D;
  display: inline-block;
  margin-top: 5vh;
  margin-left: 13%;
  margin-bottom: 5vh;
  display: inline-block;
  position: relative;
}

.media-object {
  height: 30vh;
  width: 60%
}

.watchImage {
  height: 30vh;
  margin-bottom: 20px;
}


.master {
  text-align: center;
    display: inline-block;
    height: 50vh;
    width: 24%;
}

.watchTitleH, .watchPriceH {
  margin-top: 3px;
}

.IndproductLeft {
  margin-top: 5vh;
  position: relative;
  margin-bottom: 8vh;
  display: inline-block;
  width: 55%;
}
.IndproductRight {
  margin-top: 20vh;
  margin-bottom: 8vh;
  margin-left: 4%;
  position: relative;
  display: inline-block;
  width: 30%;
  height: 50vh;
  vertical-align: top;
}

.IndwatchImage {
  border: 3px solid #AD202D;
  width: 80%;
  position: relative;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  margin-left: 20%;
  margin-right: 0%;
}

.Indmedia-objectwatch {
  border: 3px solid #AD202D;
  width: 80%;
  position: relative;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 20%;
  margin-right: 0%;
}

.addToCart {
  height:7vh;
  margin-top: 3vh;
  width: 50%;
  border: 3px solid #AD202D;
  font-family: 'Montserrat', sans-serif;
}
.IndwatchPriceH {
  margin: 0;
  margin-bottom: 2vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
}

 .IndwatchTitleH {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
    margin-bottom: 2vh;
}

.quantityP  {

  margin: 0;
    margin-bottom: 1vh;
}

.quantity {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 30%;

}

.adminLoginContainer {
  height: 100%;

}

.username, .password {
  margin: 10px;
}

.form-control1 {
  font-size: 1.5em;
  margin: 10px;
  width: 50%;
}

.h3login {
  font-size: 3em;
  margin: 10px;;
}
.loginForm {
  padding-top: 15vh;
  margin: 0 auto;
  margin-top: 18vh;
  margin-bottom: 35vh;
  height: 30vh;
  width: 40%;
  background-color: #F5F5F5;
  border: 2px solid #AD202D;
  text-align: center;
  padding: 30px;
}

.btn1 {
  height: 4vh;
  width: 30%;
  margin-top: 2vh;
}

.innerAPC {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid black;

}

.editForm {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid black;

}

.form-control {
  width: 10%;
}

.btnEdit {
  padding: 8px;
  margin-bottom: 2vh;
}

.admin-Media-object {
  height: 10vh;

}

.adminWatchId {
  margin-left: 5%;
}

.adminWatchPrice {
  margin-right: 5%;
}

#addNewItemForm {
  display: none;
}

.admin-title {

  text-align: center;
}

.inventoryText {
  marigin-top: 15vh;
  font-size: 4em;
}

.addNewItemButton {
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  border: 2px solid #AD202D;
  padding: 8px;
  padding-bottom: 12px;
  background-color: white;
  width: 80px;
  font-size: 3em;
}

.addNewItem {
  margin: 0 auto;
  margin-top: 10px;
}

.addItemFormContainer {

}

.addItemForm {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  margin-top: 2vh;
}

.form-control2 {
  width: 70%;
  margin-left: 10px;
  float: right;
}

.formName {
  float: left;
}

.form-group1 {
  height: 3vh;
  margin-top: 2vh;
}

.form-group2 {
   text-align: center;
}

.btn22  {
  height: 3vh;
  background-color: white;
  border: 1px solid black;
}

.adminWatchDelete {
  margin-right: 5%;
}

.adminWatchEditDelete, .adminWatchEditButton {
  margin-top: 2.5vh;
  margin-right: 5%;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.editInputs {
  padding: 10px;
}

.editForm1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 1px solid black;
  text-align: center;
}

.form-control3-1 {
    width: 17%;
    margin-left: 2%;
}

.form-control3 {
    width: 30%;
    margin-left: 2%;
}

.products {
  margin: 0 auto;
  margin-top: 10vh;
  border: 3px solid #AD202D;
  padding 10px;
  width: 30%;
  justify-content: space-around;
  text-align: center;
}

.cofd {
  padding: 10px;
  margin-left: 5%;

}

.checkoutFormContainer {
  margin: 0 auto;
  margin-top: 5vh;
  border: 3px solid #AD202D;
  width: 50%;
}

.form-control4 {
  width: 50%;
  margin-left: 5%
}

.paymentInfoH {
  text-align: center;
}

.btn2323 {

  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  width: 20%;
  background-color: white;
  border: 1px solid black;
}

.form-group-butt {
  text-align: center;
}


.success {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.successh1 {
  font-size: 8em;
}

.successh3, .successbh{
  font-size: 4em;
}
